.game-container {
    position: relative;
    width: 100%;
    height: 100%; /* Full viewport height */
    overflow: hidden; /* Hide any overflow content */
  }
  
  .gamelogic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  